# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/brownpak
*.out

#Python files
*.py[cod]

# Spyder project settings
.spyderproject
.spyproject

#Docs
docs/html/

#Tests
tests/

#Utils(models)
utils/models
